.name-color {
  color: rgb(45, 158, 120);
}
.home-top {
  margin-top: 125px;
}
.hero-img {
  border-radius: 50%;
  border: 5px solid rgb(45, 158, 120);
}
.hero-left {
  width: 500px;
}
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 1100px) {
  .services {
    grid-template-columns: 1fr;
  }
}
