.login {
  margin-top: 120px;
}
.login-btn {
  font-weight: 700;
  background: linear-gradient(
    0deg,
    rgba(45, 158, 120, 1) 0%,
    rgba(127, 255, 212, 1) 100%
  );
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.75s ease;
}
.login-btn:hover {
  transform: scale(110%);
}
.login-line {
  height: 2px;
  width: 200px;
  background-color: black;
}
.login-with-google {
  border: none;
  background: linear-gradient(
    0deg,
    rgba(45, 158, 120, 1) 0%,
    rgba(127, 255, 212, 1) 100%
  );
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.75s ease;
}
.login-with-google:hover {
  transform: scale(110%);
}
.login-with-google img {
  border-radius: 50%;
  margin-right: 10px;
}
.register-option {
  color: rgb(14, 153, 130);
  text-decoration: none;
}
.reset-pass {
  color: rgb(14, 153, 130);
  cursor: pointer;
}
.reset-pass:hover {
  color: rgb(44, 44, 231);
}
